*{
	padding: 0;
	margin: 0;
}
.right-menu li{
	display: inline-block;
	margin-top: 30px !important;
}
.right-menu li .fa{
	font-size: 18px;
	margin-right: 10px;
	cursor: pointer;
}
.navbar-brand a{
	width: 160px;
}
.navbar-brand{
	left: 50%;
	top: 25px;
	transform: translateX(-50%);
	position: absolute;
}
.header{
	background: #f5f6fc;
	 margin-bottom: 80px;
}
.navbar{
	padding: 0 35px !important;
}
.navbar-toggler{
	border: none !important;
	outline: none !important;
	padding: 0 !important;
	margin-top: 30px;
}
.navbar-toggler .fa{
	font-size: 30px;
	cursor: pointer;
}
.banner-img{
	margin: 70px 100px;
	width: 60%;
}
.banner-img img{
	width: 100%;
	margin-bottom: -80px;
}
.banner{
	position: relative;
}
.banner-title{
	position: absolute;
	left: 50%;
	top: 20%;
}
.banner-title h1{
	font-size: 55px;
	background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 70px;
	padding: 0px 10px 0 10px;
}
/*------fashion trends---------------*/
.fashion-trends{
	padding: 10px;
}
.fashion-box{
	margin: 80px 0;
}
.title-style h1{
	padding: 45px 0;
}
.title-style{
	margin: 0 auto 80px;
	height: 120px;
	width: 80%;
	max-width: 700px;
	background: #fff;
	position: relative;
	box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5);
}
.title-style::after{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #f992a6;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: -1;
}
.title-style::before{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #f992a6;
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index: -1;
}
.trending-img{
	position: relative;
	margin-bottom: 15px;
}
.trending-img img{
	width: 100%;
}
.btn-buy{
	width: 150px;
	padding: 10px 0;
	outline: none !important;
	border: 0;
	border-radius: 2px;
	position: absolute;
	background: #fff;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0);
	transition: .6s;
	opacity: 0;
	z-index: 1;
}
.trending-img:hover .btn-buy{
	transform: translate(-50%, 50%);
	bottom: 50%;
	opacity: 1;
}
.overlay{
	height: 0;
	width: 100%;
	background: #333;
	position: absolute;
	top: 0;
	opacity: 0.5;
	transition: 0.5s;
}
.trending-img:hover .overlay{
	opacity: .5;
	height: 100%;
}

/*---offer-----------*/
.offer{
	background-image: url('pink.jpg');
	background-size: cover;
	background-position: center;
}
.row{
	margin: initial !important;
}
.Subscribe{
	max-width: 500px;
	margin-top: 80px;
	padding: 60px;
	background: #ffffff8c;
	margin-bottom: 20px;
}
.Subscribe a{
	width: 100px; 
	display: block;
	color: #fff !important;
	background: #000;
	text-decoration: none !important;
	padding: 5px;
	text-align: center;
}
.offer img{
	width: 300px;
	height: 300px;
	margin: -100px;
	margin-top: 150px;
}

/*-------fashion blog-----------*/

.fashion-blog{
	margin: 250px 0 150px 0;
}
.blog-img{
	margin-top: 50px;
	height: 300px;
	width: 300px;
	display: inline-block;
}
.blog-img img{
	width: 100%;
	height: 100%;
}
.fashion-blog h5{
	margin-top: 20px;
	font-weight: bold;
}
/*--------fashion-brands---------------*/

.fashion-brands{
	margin-bottom: 150px;
}
.brand-logo{
	width: 200px;
	height: 200px;
	background: #fff;
	border-radius: 50%;
	margin: 50px auto 30px;
	box-shadow: 0 2px 40px 0 rgba(110,130,208,.18);
}
.brand-logo img{
	align-items: center;
	width: 100px;
	height: 50px auto;
}
.fashion-brands p{
	margin-top: 30px;
	font-weight: bold;
}
/*-----footer----------*/

.footer{
	margin-top: 150px;
	background: #f5f6fc;
}
.payment, .insta-img, .app-download{
	margin: 50px auto;
}
.payment img{
	width: 300px;
	cursor: pointer;
}
.insta-img img{
	width: 300px;
	height: 250px;
	padding: 5px;
	cursor: pointer;
}
.app-download img{
    width: 250px;
    height: 250px;
}
.footer h5{
	margin-bottom: 50px;
}
.footer h5::before{
	content: '';
	width: 70px;
	height: 3px;
	background: #4f74e8;
	top: 75px;
	position: absolute;
}
.footer-icons{
	text-align: right;
}
.footer-icons .fa{
	margin: 0 10px auto;
	font-size: 20px;
	cursor: pointer;
}
/*----------for small device----------*/

@media only screen and (max-width: 900px)
{
	.banner-img{
		margin: 40px auto;
		width: 80%;
	}
	.banner-title{
	top: 150px;
	left: 50%;
	transform: translate(50%);
    }
}